/* Estilos para el Layout Principal (Menú, Login, Registro) */
body {
    background: url('https://images.unsplash.com/photo-1517927033932-b3d18e61fb3a') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* Oscurecer el fondo para que el texto resalte, pero solo para los overlays de formularios */
    background-color: rgba(0, 0, 0, 0.85);
}

#menu-container.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Menos oscuro para el menú principal */
}

.container {
    text-align: center;
    padding: 40px;
    max-width: 600px;
    width: 100%; /* Para que el max-width funcione bien en móviles */
}

/* Ajustes específicos para formularios dentro de .overlay */
#login-form.overlay,
#register-form.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: none; /* Se maneja con JS */
}

#password-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000; /* Un valor muy alto para garantizar que se apile por encima de todo */
    display: none; /* Se maneja con JS */
}